* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@media screen and (min-width: 320px) and (max-width: 699px) {

    .displayTablet{
        display: none;
    }

    .topProductsTablet{
        display: none;
    }

    .topProductsMobile{
        display: block;
    }

body {
    background-image: url(./img/body-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

header,
footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.sectionTitle {
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    text-transform: uppercase;
    background-color: #FB4734;
    height: 3px;
}

.btn-menu{
    color: #FB4734;
    background-color: #FB4734;
}

.logo-header img {
    width: 150px;
}

.logo-header {
    text-align: center;
}

.container-header {
    width: 100%;
}

.container-header {
    /* display: flex; */
    align-items: center;
}

.menu-collapse {
    text-align: center;
    margin-top: 25px;
}

.container-header li {
    margin-left: -30px;
    list-style-type: none;
    cursor: pointer;
}

.options-header {
    display: none;
}

.input-group {
    max-width: 100%;
}

.icon-personMenu {
    align-items: center;
    cursor: pointer;
}

.card-body {
    align-items: center;
}

.bi-person-circle-desktop {
    display: none;
}

.carousel-inner{
    margin-top: 15px;
    border-radius: 15px;
}

.vantage{
    margin-top: 30px;
    text-align: center;
    border: 2px solid #FB4734;
    border-radius: 15px;
}

.vantage svg{
    color: #FB4734;
}

.advCard{
    margin-top: 35px;
}

.sectionTitle{
    margin-bottom: 50px;
}

.topProducts-desktop{
    display: none;
}

.topProductsMobile{
    text-align: center;
}

.topProductsMobile h5{
    margin-top: 5px;
}

.sectionTitlePizzas{
    margin-top: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left: 5px;
}


.oferta {
    text-decoration: line-through;
    color: rgb(181, 181, 181);
}

.nav-tabs button{
    color: #FB4734;
    text-transform: uppercase;
    font-weight: bold;
}

.card-promocao{
    margin-top: 50px;
}

.card-promocao img{
    opacity: 0.5;
}

.card-promocao p{
    font-size: 12px;
}

.sobreNos{
    background-image: url(./background/bkground-1.png);
    color: #fff;
    border-radius: 15px;
}

.sobreNos img{
    width: 100%;
}

footer {
    margin-top: 50px;
    background-color: #201B32;
    color: #fff;
    font-size: 10px;
}

footer h5{
    color: #ED3C34;
}

.displayDesktop-Menu{
    display: none;
}

.displayTablet{
    display: none;
}

.card-promocaoTablet{
    display: none;
}

.displayDesktop-2cards{
    display: none;
}


}


@media screen and (min-width: 700px){
    .menu-collapse{
        display: none;
    }
    
    .container{
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        display: flex;
    }
    
    
    body{
        background-image: url(./img/body-wallpaper.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
        
        header,
        footer{
            max-width: 1290px;
            display: flex;
            width: 100%;
            margin: 0 auto;
            justify-content: space-between;
            font-family: 'Poppins', sans-serif;
        }
        
        .sectionTitle{
            font-family: 'Poppins', sans-serif;
            margin-top: 30px;
            text-transform: uppercase;
            background-color: #FB4734;
            height: 3px;
        }
        

        .container{
            max-width: 1230px;
            width: 100%;
            margin: 0 auto;
            display: flex;
        }
        
        .menu-collapse{
            display: none;
        }
        
        .topProducts-desktop,
        .topProductsMobilee{
            display: none;
        }
    
        .displayDesktop,
        .displayMobile{
            display: none;
        }
    
        .carousel-inner{
            margin-top: 35px;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        .carousel-control-next-icon{
            color: black;
        }
    
        .logo-header img{
            max-width: 180px;
            width: 100%;
            margin-bottom: 16px;
            margin-top: 5px;
            margin-left: 15px;
        }
        
        .container-header{
            max-width: 1230px;
            width: 100%;
        }
        
        .container-header{
            display: flex;
            align-items: center;
        }
        
        .displayDesktop-Menu{
            display: none;
        }
        
        .container-header ul{
            display: flex;
        }
        .container-header li{
            list-style-type: none;
            margin-left: 15px;
            cursor: pointer;
        }
        .promotions{
            display: none;
            padding-left: 15px;
            color: #FB4734;
            text-transform: uppercase;
        }
        
        .bi-person-circle-desktop{
            align-items: center;
            cursor: pointer;
            margin-top: -16px;
        }
        
        .options-header{
            justify-content: end;
        }
        
        .input-group input{
            display: flex;
            border-radius: 30px;
            max-width: 200px;
            margin-left: 45px;
        }
        
        .bi-person-circle{
            margin-bottom: 16px;
        }
        
        .carousel-inner{
            margin-bottom: 50px;
            border-radius: 15px;
        }
        
        .vantage{
            justify-content: space-between;
            width: 90%;
            height: 180px;
            display: flex;
            background-color: #fff;
            border-radius: 15px;
            border: 2px solid #FB4734;
            margin: 0 auto;
        }
        
        .advCard{
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
            margin: 30px;
        }
        
        .advCard h4{
            text-transform: uppercase;
            font-size: 18px;
        }
        
        .advCard svg{
            color:#FB4734;
        }
        
        .topProducts-desktop{
            margin-top: 50px;
        }
        
        .card{
            align-items: center;
            border-radius: 15px;
            padding: 20px;
            cursor: pointer;
        }
        
        
        .titleProducts{
            margin-top: 15px;
        }
        
        
        /* INICIO --- Criando um efeito no Header em <li>PROMOÇÕES</li> */
        .promotions {
            position: relative;
            cursor: pointer;
        }
        
        .promotions::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        
        .promotions:hover::before {
            opacity: 1;
        }
        
        .promotions:hover {
            animation: zoom 0.9s;
            animation-fill-mode: forwards;
        }
        
        .card-img-overlay{
            margin-left: 50px;
            margin-right: 50px;
        }
    
        .card-img-overlay p{
            margin-top: 70px;
        }
        
        .card-promocaoTablet{
            margin-top: 15px;
        }
    
        section{
            margin-top: 50px;
        }
        
        .nav-tabs button{
            color: #FB4734;
            text-transform: uppercase;
            font-weight: bold;
        }
        
        .oferta {
            text-decoration: line-through;
            color: rgb(181, 181, 181);
        }
        
        .preco{
            display: flex;
        }
        
        .preco p{
            margin-left: 8px;
        }
        
        .sectionTitlePizzas{
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            margin-left: 12px;
        }
        
        .card-title,
        .card-text,
        .card-text{
            margin-left: 5px;
            margin-top: 15px;
        }
        
        .card-text-footer{
            text-align: center;
            align-items: end;
        }
        
        .card-img-footer{
            opacity: 0.5;
        }
        
        .sobreNosInfo{
            background-image: url(./background/bkground-1.png);
            display: flex;
            color: #fff;
        }
        
        .sobreNos{
            background-image: url(./background/bkground-1.png);
            color: #fff;
            border-radius: 15px;
        }
        
        .sobreNos img{
            margin-top: 130px;
            width: 370px;
            height: 200px;
        }

        .sobreNosInfo span{
            margin-top: 35px;
            margin-right: 35px;
        }
        
        .fachada-loja{
            width: 500px;
            border-radius: 30px;
            margin: 15px;
        }
        
        footer{
            margin-top: 100px;
            background-color: #201B32;
            color: #fff;
            margin-top: 50px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 100%;
            max-width: 700px;
            width: 100%;

            /* margin: 0 auto; */
        }
        
        .infoFooter{
            font-size: 10px;
        }
        
        .bi{
            margin-left: 10px;
        }
        
        .div-footer{
            margin-top: 50px;
            margin-left: 15px;
        }
        
        .div-footer h5{
            color: #FB4734;
        }
        
        /* RESERVADO PARA O MOBILE */
            .topProductsMobile{
                display: none;
            }
        
            .displayMobile{
                display: none;
            }

            .topProductsTablet{
                display: none;
            }

            .topProductsTablet{
                display: block;
            }

            .displayDesktop-2cards{
                display: none;
            }
    }




@media screen and (min-width: 1080px) {
    
body{
    background-image: url(./img/body-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
    
    header,
    footer{
        max-width: 1290px;
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        font-family: 'Poppins', sans-serif;
    }
    
    .sectionTitle{
        font-family: 'Poppins', sans-serif;
        margin-top: 30px;
        text-transform: uppercase;
        background-color: #FB4734;
        height: 3px;
    }
    
    .container{
        max-width: 1230px;
        width: 100%;
        margin: 0 auto;
        display: flex;
    }
    
    .menu-collapse{
        display: none;
    }
    
    .logo-header img{
        max-width: 100px;
        width: 100%;
        margin-bottom: 16px;
        margin-top: 5px;
    }
    
    .container-header{
        max-width: 1230px;
        width: 100%;
    }
    
    .container-header{
        display: flex;
        align-items: center;
    }
    
    
    .container-header ul{
        display: flex;
    }
    .container-header li{
        list-style-type: none;
        margin-left: 15px;
        cursor: pointer;
    }
    .promotions{
        display: block;
        padding-left: 80px;
        color: #FB4734;
        text-transform: uppercase;
    }
    
    
    
    .options-header{
        justify-content: end;
    }
    
    .input-group input{
        display: flex;
        border-radius: 30px;
        max-width: 200px;
        margin-left: 210px;
    }
    
    .bi-person-circle{
        margin-bottom: 16px;
    }
    
    .carousel-inner{
        margin-bottom: 50px;
        border-radius: 15px;
    }
    
    .vantage{
        justify-content: space-between;
        width: 90%;
        height: 180px;
        display: flex;
        background-color: #fff;
        border-radius: 15px;
        border: 2px solid #FB4734;
        margin: 0 auto;
    }
    
    .advCard{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        margin: 30px;
    }
    
    .advCard h4{
        text-transform: uppercase;
        font-size: 18px;
    }
    
    .advCard svg{
        color:#FB4734
    }
    
    .topProducts-desktop{
        margin-top: 50px;
    }
    
    .card{
        align-items: center;
        border-radius: 15px;
        padding: 20px;
        cursor: pointer;
    }
    
    
    .titleProducts{
        margin-top: 15px;
    }
    
    
    /* INICIO --- Criando um efeito no Header em <li>PROMOÇÕES</li> */
    .promotions {
        position: relative;
        cursor: pointer;
    }
    
    .promotions::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    .promotions:hover::before {
        opacity: 1;
    }
    
    .promotions:hover {
        animation: zoom 0.9s;
        animation-fill-mode: forwards;
    }
    
    @keyframes zoom {
        0% {
        transform: scale(1);
        }
        50% {
        transform: scale(1.5);
        }
        100% {
        transform: scale(1);
        }
    }
    /* FIM --- Criando um efeito no Header em <li>PROMOÇÕES</li> */
    
    section{
        margin-top: 50px;
    }
    
    .nav-tabs button{
        color: #FB4734;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .oferta {
        text-decoration: line-through;
        color: rgb(181, 181, 181);
    }
    
    .preco{
        display: flex;
    }
    
    .preco p{
        margin-left: 8px;
    }
    
    .sectionTitlePizzas{
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        margin-left: 12px;
    }
    
    .card-title,
    .card-text,
    .card-text{
        margin-left: 5px;
        margin-top: 15px;
    }
    
    .card-text-footer{
        text-align: center;
        align-items: end;
    }
    
    .card-img-footer{
        opacity: 0.5;
    }
    
    .sobreNosInfo{
        background-image: url(./background/bkground-1.png);
        display: flex;
        color: #fff;
    }
    
    .sobreNosInfo span{
        margin-top: 35px;
        margin-right: 35px;
    }
    
    .fachada-loja{
        width: 500px;
        border-radius: 30px;
        margin: 15px;
    }
    
    footer{
        background-color: #201B32;
        color: #fff;
        margin-top: 80px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    
    .infoFooter{
        font-size: 10px;
    }
    
    .bi{
        margin-left: 10px;
    }
    
    .div-footer{
        margin-top: 50px;
        margin-left: 15px;
    }
    
    .div-footer h5{
        color: #FB4734;
    }
    
    /* RESERVADO DISPLAY */
    .topProductsMobile{
        display: none;
    }

    .displayTablet{
        display: none;
    }

    .displayMobile{
        display: none;
    }

    .topProductsTablet{
        display: none;
    }

    .topProducts-desktop{
        display: block;
    }

    .displayDesktop{

    }

    .card-promocaoTablet{
        display: none;
    }


    .displayDesktop-2cards{
        display: block;
    }

    .displayDesktop-2cards p{
        margin-top: 10px;
    }

    .displayDesktop-Menu{
        display: block;
    }
}


